.inline-icon {
	vertical-align: bottom;
}

.bean_shortcode {
    color: black;
    background: white;
    font-size: larger;
    margin-top: 0em;
    padding: 1em;
}

#bean_shortcode_form {
    margin-bottom: 2em;
}
#bean_shortcode_form div {
    display: table;
}
#bean_shortcode_form div div {
    display: table-row;
}
#bean_shortcode_form div div div {
    display: table-cell;
}
#bean_shortcode_form div div div:first-child {
    font-weight: bold;
    padding-right: 0.5em;
    text-align: right;
}


/* all the text inputs in the shortcode form are numbers */
#bean_shortcode_form input[type='text'] {
    font-family: monospace;
    text-align: right;
    width: 3em;
}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px; width: 100%}
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.webgl-content .footer .webgl-logo {width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {width: 38px; float: right;}
